input{

	padding:5px;
	width:200px;

}

.message{

	padding:10px;
	border:1px solid red;
	width:175px;
	text-align:left;
	background:FF0033];
	color:red;
	border-radius:5px;
	font:12px  arial;

}


.success{
	
	padding:10px;
	border:1px solid #66FF99 ;
	width:175px;
	text-align:left;
	background:#66FF99;
	color:white;
	border-radius:5px;
	font:12px bold arial;
	text-transform:uppercase;


}

