.product_description p {
	
	text-align:justify;

}

.product_price p {
	
	color:red;
}

.suggestion{
	
	position:absolute;
	left:291px;
	top:38px;
	background:white;
	border:0px solid silver;
	z-index:1;
	

}

.suggestion li {

	list-style-type:none;
	display:inline;
	

}

.suggestion li:hover{
	
	background:none;

}

.cart{
text-align:left;

}

.cart li{
	
	display:inline;
	list-style-type:none;

}




#navbarinverse{
	
	border-radius:0;
}


.footer{
	background: #49AFCD;
	padding: 30px;
}