*{
	
	margin: 0;
	padding: 0;
}



table{
	width:500px;
	border:none;
}

.product_content{
	
	padding-left:100px;
	
	

}

.product_info{
	
	border:1px solid silver;

}



.product_img{
	
	float:left;

}


td{
	
	padding:20px;
	border:1px solid silver;

}